<h1>
    [{{title}}] 글
    {{#if (eq mode "create")}}
        작성
    {{else}}
        수정
    {{/if}}
</h1>

<div>
    <!--글쓰기 폼-->
    <form name="boardForm" method="post"
          {{#if (eq mode "create")}}
              action="/write"
          {{else}}
              action="/modify"
          {{/if}}>
    <!--수정 모드인 때는 id값을 폼통해 전송-->
    {{#if (eq mode "modify")}}
        <input type="hidden" name="id" value="{{post._id}}" />
    {{/if}}

    <!--제목 입력 칸-->
    <div>
        <label>제목</label>
        <input type="text" name="title" placeholder="제목을 넣어주세요" value="{{post.title}}" />
    </div>

    <!--이름 입력 칸-->
    <div>
        <label>이름</label>
        <input type="text" name="writer" placeholder="이름을 넣어주세요" value="{{post.writer}}" />
    </div>

    <!--비밀번호 입력 칸-->
    <div>
        <label>비밀번호</label>
        <input type="password" name="password" placeholder="비밀번호를 넣어주세요" />
    </div>

    <!--본문 입력-->
    <div>
        <label>본문을 입력하세요</label><br />
        <textarea placeholder="본문" name="content" cols="50" rows="10">{{post.content}}</textarea>
    </div>

    <!--버튼 영역-->
    <div>
        {{#if (eq mode "create")}}
            <button type="submit">저장</button>
        {{/if}}
    </div>
    </form>
    <div>
        {{#if (eq mode "modify")}}
            <button onclick="checkPassword()">수정 저장</button>
        {{/if}}
        <button type="button" onclick="location.href='/'">취소</button>
    </div>
</div>

<script>
    // 비밀번호 유효성 검사
    async function checkPassword() {
        const password = document.forms["boardForm"]["password"].value;
        const id = "{{post._id}}";

        try {
            const response = await fetch("/check-password", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ id, password })
            });

            if (!response.ok) {
                console.error('서버 응답 오류:', response.statusText);
            }

            const { isExist } = await response.json();

            if (isExist) {
                document.forms["boardForm"].action = "/modify";
                document.forms["boardForm"].submit();
            } else {
                alert("패스워드가 올바르지 않습니다.");
            }
        } catch (error) {
            console.error('오류 발생:', error);
            alert('비밀번호 확인 중 오류가 발생했습니다.');
        }
    }
</script>